<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.category %> <%= @restaurant.phone_number %></h3>
<p><%= @restaurant.address %></p>

<h2>Reviews</h2>
<% @restaurant.reviews.each do |entry| %>
  <p><%= entry.content %> <%= stars(entry.rating) %></p>
<% end %>

<%= link_to "add a review", new_restaurant_review_path(@restaurant.id) %>

<%= link_to "go back to all restaurants", restaurants_path %>
